* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Gotham";
    src: local("GothamBook"),
     url("../fonts/Gotham/GothamBook.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }    
  @font-face {
    font-family: "Gotham";
    src: local("GothamMedium"),
     url("../fonts/Gotham/GothamMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Gotham";
    src: local("GothamBold"),
     url("../fonts/Gotham/GothamBold.ttf") format("truetype"),
     url("../fonts/Gotham/Gotham-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Gotham";
    src: local("GothamBookItalic"),
     url("../fonts/Gotham/GothamBookItalic.ttf") format("truetype"),
     url("../fonts/Gotham/Gotham-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }    
  @font-face {
    font-family: "Gotham";
    src: local("GothamMediumItalic"),
     url("../fonts/Gotham/GothamMediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Gotham";
    src: local("GothamBoldItalic"),
     url("../fonts/Gotham/GothamBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }

body {
    margin: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #0E0E0E, #292C2F); /*url('../img/fundo_original-2.jpg');*/
    background-size: cover;
    background-position: 50%;
    color: #CAC8C8;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #1e4c3b;
    border: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #33EDAC;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #33EDAC;
}

a {
    color: #33EDAC;
    text-decoration: none;
}

.appbar {
  background-image: linear-gradient(to right, #0E0E0E, #292C2F);/*url('../assets/img/fundo_original-2.jpg') !important;*/
  background-size: cover;
  background-position: 55%;
  min-height: 100px;
  justify-content: center;
}

@media(min-width:1024px) {
  .appbar {
      background-image: none !important;
  }
}