@font-face {
  font-family: "Gotham";
  src: local("GothamBook"),
   url("./assets/fonts/Gotham/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}    
@font-face {
  font-family: "Gotham";
  src: local("GothamMedium"),
   url("./assets/fonts/Gotham/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("GothamBold"),
   url("./assets/fonts/Gotham/GothamBold.ttf") format("truetype"),
   url("./assets/fonts/Gotham/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("GothamBookItalic"),
   url("./assets/fonts/Gotham/GothamBookItalic.ttf") format("truetype"),
   url("./assets/fonts/Gotham/Gotham-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}    
@font-face {
  font-family: "Gotham";
  src: local("GothamMediumItalic"),
   url("./assets/fonts/Gotham/GothamMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("GothamBoldItalic"),
   url("./assets/fonts/Gotham/GothamBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}