* {
    box-sizing: border-box;
}

@media(min-width:1440px){
    #root >.MuiContainer-root{
        max-width: 1440px;
        padding: 0;
    }
    
    #root >.MuiContainer-root .MuiContainer-root{
        max-width: 1389px;
        padding: 0;
    }
}


body {
    margin: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}